.bewildered-advanced-dropdown
{
	flex-grow: 1;
	border-width: 1px;
}

#header {
	margin: 0;
	border-radius: 0px;
	height: 22px;
	border-left-width: 0px;
	border-right-width: 0px;
	-unity-font-style: bold;
}

ToolbarSearchField {
	width: auto;
	margin: 4px 5px 4px 5px;
}

.bewildered-advanced-dropdown__item {
	padding-left: 4px;
	align-items: center;
}