#rootElement {
    flex-grow: 1;
    border-width: 1px;
}

#rootElement #itemsContainer {
    flex-grow: 1;
    border-top-width: 1px;
}

#rootElement #searchField{
    width: auto;
    margin: 4px 4px 4px 4px;
}

#rootElement #itemsContainer .unity-list-view__item{
    padding-left: 16px;
    -unity-text-align: middleleft;
}
