.unity-list-view__item--selected {
    background-color: rgba(0,0,0,0);
}

.unity-list-view__item:hover {
    background-color: rgba(0,0,0,0);
}

.bewildered-grid-view__item:hover {
    background-color: rgb(48, 48, 48);
}

.bewildered-grid-view__row > .bewildered-grid-view__item--selected {
    background-color: rgb(62, 95, 150);
}
